body{
    background:#f5f7fa;
}

.card{
    border:none;
    border-radius:12px;
}

.card:hover{
    transform:translateY(-5px);
    transition:0.3s;
}

.navbar-brand{
    font-weight:bold;
    font-size:26px;
}

.btn{
    border-radius:8px;
}