{% extends "base.html" %}

{% block title %}Add Course{% endblock %}

{% block content %}

<div class="container">

<h2>Add New Course</h2>

<form method="POST" enctype="multipart/form-data">

{{ form.hidden_tag() }}

<p>
{{ form.title.label }}<br>
{{ form.title(size=50) }}
</p>

<p>
{{ form.category.label }}<br>
{{ form.category(size=50) }}
</p>

<p>
{{ form.description.label }}<br>
{{ form.description(rows=5, cols=50) }}
</p>

<p>
{{ form.link.label }}<br>
{{ form.link(size=50) }}
</p>

<p>
{{ form.image.label }}<br>
{{ form.image() }}
</p>

<p>
{{ form.submit() }}
</p>

</form>

</div>

{% endblock %}